<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><style>
       form {
               padding: 30px;
               border: solid;
               max-width: 300px;
               max-height: 400px;
       }
       body{
             background-image:url('https://images.unsplash.com/photo-1557360798-c91519105dd7?q=80&w=1333&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size: cover;
       }
    </style>
</head>
<body><center>
    <h1>LOGIN
    </h1><form method="POST">
    <lable for="">username:</lable><br>
    <input type="text" name="username"><br>
    <lable for="">password:</lable><br>
    <input type="password" name="password"><br><br>
    <button type="login">login</button>
</form>
</center>
    
</body>
</html>